html,body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100%; 
}

ul { 
	margin:0;
	padding:0;
}

fieldset{ 
	border:0;
	width:90%;
    position:absolute;
	right:0px;
}

.pac-container:after{
    content:"";
    padding:1px 1px 1px 0;
    height:16px;
    text-align:right;
    display:block;
    background: url(https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png) no-repeat center right;
}

.text-contrast{
 	color:#F7F7F7;
 	position: absolute;
 	bottom: 10px;
	left:45%;
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.sos-header {
	width: 100%;
	height: 60px;
	background-color: #E4E4D8;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#EBEBDF 50%,
		#E5E5DC 50%,
		#D7D7D0);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #EBEBDF),
		color-stop(0.50, #E5E5DC),
		to(#D7D7D0));	
}

.sos-beforeBody {
	width: 100%;
	height: 150px;
	color: transparent;
}

.sos-body {
	width: 100%;
	height: 460px;
	color: transparent;
	display:block;
}

.sos-foot {
	width: 100%;
	height: 180px;
	background-color: #D0FFFE;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#81d2e6 50%,
		#78c7db 50%,
		#24e3d9);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #81d2e6),
		color-stop(0.50, #78c7db),
		to(#24e3d9));	
}

.user-info{
	color: #7BA1BF;
    display: block;
    margin: 0px 0px 5px;
	font: 150 15px/15px Arial, Helvetica, sans-serif;
}

.header-content{

}

.header-content-1{
	position:absolute;
	right:0px;
	width:50%;
}

.header-content-2{
	position:absolute;
	left:0px;
	width:50%;
}

.label-body {
	color: #FFFFFF;
	background: transparent;
    display: block;
    margin: 0px 0px 5px;
	font: 300 35px/35px Arial, Helvetica, sans-serif;
}


.label-form {
	color: #888;
	padding: 5px 4px 0px 5px;
    display: block;
    margin: 0px 0px 5px;
	color: transparent;
    font: 200 20px/20px Arial, Helvetica, sans-serif;
	
}

.buscar_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0a5599;
	padding: 10px 25px;
	position:relative;
	vertical-align: top;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#81d2e6 50%,
		#78c7db 50%,
		#24e3d9);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #81d2e6),
		color-stop(0.50, #78c7db),
		to(#24e3d9));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #5ed7e0;
	-moz-box-shadow:
		0px 1px 3px rgba(16,122,179,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(16,122,179,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(16,122,179,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 5px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.4);
}


.validform{
    color: transparent;
    font: 12px Arial, Helvetica, sans-serif;
}

.validform input[type="text"], .validform input[type="email"], .validform textarea, .validform select {
    color: #888;
    padding: 5px 4px 0px 5px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 10px;
    border: 1px solid #CEE2E7;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    font: 200 20px/20px Arial, Helvetica, sans-serif;
}

.validform select {
    background: #FBFBFB no-repeat right;
    background: #FBFBFB no-repeat right;
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.mapa {
	width: 40%;
	height: 460px;
	border: 1px solid #CEE2E7;
	position:absolute;
	left: 0px;
}

.list-prest{
	width: 60%;
	height: 460px;
	border: 1px solid #CEE2E7;
	position:absolute;
	right: 0px;
	background: #FFFFFF
}

.list-prest p {		
	width: 100%;
	border: 1px solid #5ed7e0;
	background: #E5E5DC;
	font: 200 20px/20px Arial, Helvetica, sans-serif;
	color: #7BA1BF;
}

.back-form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0a5599;
	padding: 10px 25px;
	position:relative;
	vertical-align: top;
	background: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #5ed7e0;
}
